/* Reset default margin and padding for the entire page */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Set a background color for the entire page */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Style the navigation bar */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav h3 {
  font-size: 24px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

/* Style the welcome message */
header {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 32px;
  margin: 10px 0;
}

#habitImage {
  max-width: 100%;
  height: auto;
}

/* Style the habit tracker section */
#habit-section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style the habit list */
.habit-list {
  list-style-type: none;
  padding: 0;
}

.habit-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.addBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.addBtn:hover {
  background-color: #0056b3;
}
