
/* main.css */
/* Add your custom styles here */

/* Body Styles */
body {
    background-color: #f0f0f0;
  }
  
  /* Login and Register Form Styles */
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Adjust styles based on your specific preferences */
  
  